:root {
    --primary-color: var(--accent1-color);
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent1-color);
    margin: 0 auto 10px auto;
    padding: 5px;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin: 10px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: var(--accent2-color);
}

h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: var(--accent2-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0 5px 0 5px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 400px;
    width: 95%;
    text-align: left;
    background-color: var(--accent1-color);
    color: #fff;
    border-radius: 8px;
    color: #fff;
}

.map iframe  {
    border: 0;
}

figure {
    margin: 16px;
    padding: 8px;
    background-color: var(--accent1-color);
    align-items: center;
    border-radius: 8px;
    color: #fff;
}

figure caption {
    text-align: left;
    color: #fff;
    margin: 5px;
    padding: 5px;
    font-weight: normal;
}

footer {
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer a img {
    width: 32px;
    height: 32px;
    margin: 5px;
    padding: 2px;
}

/*class section */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 150px;
    padding: 5px;
    border-radius: 8px;
}

.history img {
    width: 200px;
    height: auto;
    align-self: center;
    padding: 8px;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.story.mission {
    text-align: left;
    padding: 8px;
}

.adventure-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
}

.adventure-container img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    padding: 5px;
    align-self: center;
}