    * {
        margin: 0px;
        padding: 0px;
        box-sizing: 0;
    }

    nav {
        background-color: steelblue;
        padding: 10px;
    }

    nav a {
        color: white;
        padding: 10px;
        display: block;
    }

    h1 {
        color: steelblue;
        padding: 5rem;
    }

    main {
        max-width: 640px;
        Border: 1px solid steelblue;
        padding: 2px;
        box-shadow: 0 0 10px gray;
    }

    main img {
        width: 150px;
        height: auto;
        border: 10px steelblue;
        padding: 2px;
        box-shadow: 0 0 30px gray;
        float: right;
        margin: 0 0 0 1rem 1rem;
    }

    aside {
        width: 20em;
        text-align: center;
        position: relative;
    }

    aside img {
        width: 200px;
        height: auto;
    }

    aside h2 {
        position: absolute;
        top: 70px;
        left: 200px;
    }

    footer {
        margin-top: 1em;
        border-top: 1px solid #000;
        text-align: center;
    }

    /*class selector*/

    .box {
        margin: 1rem;
        border: 1px solid rgba(0 0 0 .1);
        padding: 1rem;
        background-color: #eee;
        color: #000;
    }

    .ident {
        padding-left: 1rem;

    }