:root {
    --main-color: #0a66c2;
    --accent-color: #f3f6f8;
    --text-color: #1d2226;
    --secondary-color: #e7f3ff;
    --border-color: #d1e7f7;
    --footer-bg: #283e4a;
    --footer-text: #fff;
    --nav-bg: #0a66c2;
    --nav-link: #fff;
    --box-bg: #e7f3ff;
    --box-border: #0a66c2;
    --box-tex: #1d2226;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: var(--main-color);
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--footer-bg);
}

nav a:hover {
    background-color: brown;
}

nav {
    background-color: var(--nav-bg);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

main {
    max-width: 50rem;
    margin: 1rem 0;
    background: var(--accent-color);
    color: var(--text-color);
}

main img {
    width: 19rem;
    height: auto;
    margin: 1rem 0 1rem 1rem;
    float: right;
}

h1 {
    color: var(--main-color);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--box-tex);
}

aside {
    max-width: 50rem;
    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    left: 3rem;
    top: 5rem;
    position: absolute
}

p {
    padding: 1rem;
    color: var(--text-color);
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 300px;
}

footer {
    background-color: var(--footer-bg);
    padding: 2rem 1rem
}

footer p {
    color: #fff;
}

ul {
    list-style: none;
    padding: 1rem;
}

/*class selector */
.box {
    background-color: var(--accent-color);
    color: var(--accent-color);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #0a66c2
}