    * {
        margin: 0px;
        padding: 0px;
        box-sizing: 0;
    }

    header,
    footer {
        max-width: 840px;
        margin: 0 auto;
    }

    nav {
        background-color: steelblue;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        display: block;
        padding: 0, 5rem;
        text-decoration: none;
        font-weight: 700;
        color: #fff;
    }

    h1 {
        color: steelblue;
        padding: 5rem;
    }

    .grid {
        display: grid;
        align-items: center;
    }

    main {
        grid-column: 2/3;
        margin: 1rem;
    }

    main {
        max-width: 640px;
        Border: 1px solid steelblue;
        padding: 2px;
        box-shadow: 0 0 10px gray;
    }

    main img {
        width: 150px;
        height: auto;
        border: 10px steelblue;
        padding: 2px;
        box-shadow: 0 0 30px gray;
        float: right;
        margin: 0 0 0 1rem 1rem;
    }

    aside {
        width: 20em;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    aside img {
        width: 200px;
        height: auto;
    }

    aside h2 {
        position: relative;
        top: 0px;
        left: 20px;
        right: 110px;
    }

    footer {
        margin-top: 1em;
        border-top: 1px solid #000;
        text-align: center;
    }

    /*class selector*/

    .box {
        margin: 1rem;
        border: 1px solid rgba(0 0 0 .1);
        padding: 1rem;
        background-color: #eee;
        color: #000;
    }

    .ident {
        padding-left: 1rem;

    }