    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        color: var(#839fac)
    }

    header,
    main,
    footer {
        max-width: 840px;
        margin: 0 auto;
    }

    h1,
    h2 {
        font-family: var(#fff);
        color: aquamarine;
    }

    nav,
    p,
    section,
    article {
        margin: 16px;
        padding: 8px;
    }

    .socialmedia {
        text-decoration: none;
    }

    .hero {
        position: relative;
    }

    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }

    .hero article img {
        float: right;
        width: 125px;
        ;
    }

    h1 {
        position: absolute;
        top: 20px;
        width: 100%;
        padding: 16px;
        text-align: center;
        opacity: 0.7;
        background-color: var(#444141);
        color: #fff;
    }

    .hero article img {
        float: right;
        width: 125px;
    }